.projects {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 100px;
  padding: 0 90px 0 90px;
  overflow: hidden;
}

.projects__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.projects__card {
  margin-bottom: 30px;
  margin-right: 1px;
}

.projects__carousel {
  width: 100%;
}

.arrow__right {
  position: absolute;
  bottom: 0;
  right: calc(4% + 1px);
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: none;
  width: 30px;
  height: 25px;
  background-image: url(../../images/arrow-right.svg);
  background-color: transparent;
}

.arrow__right:hover {
  background-image: url(../../images/arrow-right-active.svg);
  background-size: cover;
}

.arrow__left {
  position: absolute;
  bottom: 0;
  left: calc(4% + 1px);
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: none;
  width: 30px;
  height: 25px;
  background-image: url(../../images/arrow-left.svg);
  background-color: transparent;
}

.arrow__left:hover {
  background-image: url(../../images/arrow-left-active.svg);
  background-size: cover;
}

.projects__title {
  font-size: 40px;
  line-height: 47.5px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}

.projects__buttom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects__button {
  width: 30px;
  height: 25px;
}

@media screen and (max-width: 755px) {
  .projects {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 615px) {
  .projects {
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    padding-left: 20px;
    padding-right: 0;
  }
  .projects__title {
    text-align: center;
  }
}