.goup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.goup__button {
  width: 25px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/goup-button.svg);
}

.goup__button:hover {
  background-image: url(../../images/goup-button-active.svg);
}

.goup__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}