.intro {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 135px;
  padding: 0px 90px 0px;
  position: relative;
}

.intro__title {
  align-self: right;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.intro__information {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}

.intro__information-block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.intro__name {
  margin: 20px 0 20px;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 47.5px;
  color: #fff;
}

.intro__description{
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  max-width: 556px;
}

.intro__photo {
  width: 350px;
  height: 320px;
  border-radius: 4px;
}

.intro__background {
  position: absolute;
  top: -180px;
  right: 0;
  z-index: -1;
}

.intro__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.intro__links-button {
  margin: 0;
  margin-right: 20px;
  padding: 10px 10px 10px;
  width: 142px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #252525;
  text-decoration: none;
  box-shadow: none;
  transition: .4s linear;
}

.intro__links-button:hover{
    cursor: pointer;
    box-shadow: 7px 7px #C52B33;
}

.intro__links-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url(../../images/intro-telegram.svg);
  transition: .4s linear;
}

.git-logo {
  background-image: url(../../images/github-mark-white.svg);
  background-size: cover;
}

.intro__links-logo:hover {
  cursor: pointer;
  box-shadow: 5px 5px #C52B33;
}

@media screen and (max-width: 768px) {
  .intro__information {
    flex-direction: column;
    align-items: center;
  }
  .intro__photo {
    margin-top: 20px;
  }
  .intro__links {
    align-items: center;
    justify-content: center;
  }
  .intro__information-block {
    margin-right: 0px;
  }
}

@media screen and (max-width: 491px) {
  .intro {
    padding: 0px 20px 0px;
  }
  .intro__links {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .intro__photo {
    width: 278px;
    height: 250px;
  }
  .intro__information-block {
    margin-right: 0px;
    max-width: 280px;
  }
  .intro__background {
    width: 310px;
    top: 400px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    margin-top: 40px;
  }
}